<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-body">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <a href="#" class="btn btn-secondary">Go elsewhere</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <a href="#" class="btn btn-warning">Go there</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <a href="#" class="btn btn-dark">Get out</a>
      </div>
    </div>
  </div>
</div>
