/* You can add global styles to this file, and also import other style files */
.jumbotron-fluid {
  margin-bottom: 10px !important;
}
.jumbotron {
  margin-bottom: 10px !important;
}

body {
  background-color: bisque;
}
